scchart pacemaker {

    initial state top {
      	//sensors and actuators
    	input signal VS, AS;
    	output signal VP, AP;
    	
    	//timer signals
    	input signal PVARP_t, VRP_t, AEI_t, AVI_t, URI_t, LRI_t;
    	output signal StartRI;
    	
    	initial state qStartRI --> qPVARP_VRP with / StartRI;
    	
    	state qPVARP_VRP
    	--> qVRP with PVARP_t
    	--> qPVARP with VRP_t;
    	
    	state qPVARP
    	--> qAEI with PVARP_t
    	--> qStartRI with VS;
    	
    	state qVRP
    	--> qAEI with VRP_t
    	--> qAVI with AS;
    	
    	state qAEI
    	--> qAVI with AS
    	--> qAVI with AEI_t / AP
    	--> qStartRI with LRI_t/VP;
    	
    	state qAVI
    	--> qStartRI with VS
    	--> qStartRI with (AVI_t && URI_t) || LRI_t / VP;
    	
    	
    	
//    	region AVI:
//    		initial state active;
//    	region AEI:
//    		initial state active_pvarp_vrp;
//    		
//    	region LRI:
//    		initial state active 
//    		--> active with Vsense 
//    		--> active with LRI_done / Vpulse;
//    	region URI:
//    		initial state active
//    		--> inactive with URI_done / URI_reset;
//    		state inactive
//    		--> active with V;
    };
}